NET "display_select<0>" LOC = P100 | IOSTANDARD = LVTTL;
NET "display_select<1>" LOC = P102 | IOSTANDARD = LVTTL;
NET "display_select<2>" LOC = P105 | IOSTANDARD = LVTTL;
NET "display_select<3>" LOC = P112 | IOSTANDARD = LVTTL;
NET "display_select<4>" LOC = P115 | IOSTANDARD = LVTTL;
NET "display_select<5>" LOC = P117 | IOSTANDARD = LVTTL;
NET "display_select<6>" LOC = P116 | IOSTANDARD = LVTTL;
NET "display_select<7>" LOC = P118 | IOSTANDARD = LVTTL;
NET "display_select<8>" LOC = P120 | IOSTANDARD = LVTTL;

NET "display_digit<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "display_digit<1>" LOC = P66 | IOSTANDARD = LVTTL;
NET "display_digit<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "display_digit<3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "display_digit<4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "display_digit<5>" LOC = P82 | IOSTANDARD = LVTTL;
NET "display_digit<6>" LOC = P84 | IOSTANDARD = LVTTL;

NET "arrow_btn<0>"  LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "arrow_btn<1>"  LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "arrow_btn<2>"  LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "arrow_btn<3>"  LOC = P85 | IOSTANDARD = LVTTL | PULLDOWN;

NET "start_game"  LOC = P93 | IOSTANDARD = LVTTL | PULLDOWN;